/*$cream: hsla(33,50%,90%,1);
$brown: hsla(340,30%,30%,1);
$purple: hsla(310,30%,40%,1);
$green: hsla(52,75%,45%,1);*/


body {
  width:90%; max-width:640px;
  margin:0px auto; padding:2em;
  box-sizing:border-box;
  background: rgb(242, 231, 217); /* cream rgb */
  font-family: 'Varela Round', sans-serif;
  color: rgb(99,54,69); /* brown rgb*/
  line-height:1.3;
  &>div {
    padding:2em;
    background:transparentize(white,0.3);
    border: 10px solid white;
  }
}

h1 {
	padding-bottom:0.5em; 
	text-align: center;
	font-size: 4em;
}

h2, p, ul {padding-bottom:0.5em;}
h2 {text-align:center; 
  font-size:2em;}
p {font-size:1.2em;}

h3 {
  padding-bottom:1em;
  text-align: center;
  font-size: 1.5em; 
}

#midi-data {
  position:relative; overflow:hidden;
  height: 300px;
  background:transparentize(white,0.1);
    border:10px solid transparentize(rgb(133, 71, 122),0.3); /* purple rgb*/
  ul {
    position:absolute; left:0px; bottom:0px;
    padding:1em;
    li {
      padding:0.2em 0.2em 0.2em 1em;
      font-size:1.6em;
      font-family: monospace;
      &:last-child {
        font-weight:bold;
        color: rgb(133, 71, 122);/* purple rgb*/
        animation:flash 0.5s;
        &:before {content:"> "; margin-left:-1em;}
      }
    }
  }  
}

@keyframes flash {
  0% {color:rgb(201,178, 29);} /*green rgb*/
  100% {color:rgb(133, 71, 122);}/* purple rgb*/
}


.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: green;
}


.button2 {
  background-color: #ff5050;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button2:hover {
  background-color: #ff0000;
}


